*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
     background-color: rgb(12, 12, 12);
}
/* .side_menu{
      width:250px;
      height:100%;
      border: 2px solid grey;
} */
 .menu{
    width:260px;
      height:190%;
      border: 1px solid transparent;
      background-color: black; 

 } 
 .logo{
       position: absolute;
       top:4vh;
       bottom:90px;
       left:3vh;
 }
 .menu_1{
      color:white;
      padding: 12px 25px;
      display: flex;
      align-items: center;
      

 }
.menu span{
    margin-left: 12px;
}
  .f{
     color:white;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     margin-left: 15px;
     gap:2vh;
  }
  .img {
      display:flex;
      padding: 12px 25px;
      align-items: center;
      color:white;
  }
.arrow{
      position:absolute;
      left:42vh;
      bottom:95vh;

}
.gm{
    color:white;
    position:absolute;
    left: 40vh;
    bottom:40vh;
    font-size:x-large;
    top:10vh;
    
}
.img1{
    color:white;
    display: flex;
    border: 2px solid grey;
    height: 65px;
    width:250px;
    
    background-color: grey;
}
.imgs{
    display:flex;
    justify-content: space-evenly;
    position: absolute;
    left:42vh;
    bottom:70vh;
    gap:20px;


}.ec{
    position:absolute;
    /* right:vh; */
    left:0vh;
    top:20vh;
    color:white;
    border: 2px solid grey;
    height:65px;
    width:250px;
    background-color: grey;
    align-items: center;
    display: flex;
}
.img2{
      position:absolute;
      left:40vh;
      bottom:20vh;
      

}
  .word{
      color:white;
      position:absolute;
      left:40vh;
      bottom:40vh;
      font-size: x-large;
  }
   .hi{ 
       justify-content: space-evenly;

   }
  
      
  


        